
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
}
.pbottom{
    font-size: 1.5rem;
}

p{
   
   color: black;
}
.ptop{
text-align: center;
}
h1{
    
    color: black;
    margin-top: 50px;
}
body{
   
    height: 100vh;
    color: white;
}

.container{
    width: 60vw;
    margin: 0 auto;

}

/* entradaNome */

.entradaNome{
    height: 95vh;
    background: linear-gradient(130.02deg, #62768e 0.66%, #1a3555 83.32%);
    box-shadow: 26px 24px 90px rgba(31, 26, 51, 0.13);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.entradaNome input{
    height: 60px;
    border-bottom: solid 8px #04080c;
    border-right: solid 8px #04080c;
    font-size: 1.5rem;
}

.btName{
    height: 65px !important;
    width: 90px !important;
    border-top: solid 27px #E63035;
    border-bottom: solid 14px #ffffff;
    border-radius: 100%;
    background-color: #000000 !important;
    color: white;
    font-size: 0.7rem;
    margin-left: 2vw;
  
   
}

.btName:hover{
    margin-bottom: 3vh;
  

} 




/* pokeballs */
.pokeballs{
    height: 90vh;
    display: none;
    align-items: center;

   
}




.pokeballs div{
    display: flex;
    width: 100%;  
    justify-content: center; 
    align-items: center; 
    
}

#pika{
    height: 250px;
    width: 30vw;
}

#bulba{
    height: 300px;
    width: 30vw;
    

}

#char{
    height: 250px;
    width: 15vw;

}

a{
    text-decoration: none;
    color: black;
}



.pokemons{
    cursor: pointer;
}








/* interação /bt */
.bt{
    background-color: white;
    height: 77px;
    width: 150px;
    cursor:pointer;
    
}
.jogarNovamente{
    display: none;
    font-size:1rem;
    padding: 10px 20px;
    height: 77px;
    width: 150px;
}
.interacao{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 10vw;
    height: 100px;
    align-items: center;
    border: solid 2px white;
}



/* 


/* battle \/ */

.battle{
    display: none;
    opacity: 0;
    animation: fadeIn 5s linear;
    animation-duration: 2.5s;
}

@keyframes fadeIn {
    100% {opacity: 1;}
    
}



.mewtwo{
    
    display: flex;
    flex-direction: column;
    align-items: end;
    
    
}
.mewtwo img{
    width:35vh;
    margin-left: vw;
    
}





#barHpUser{
    width: 200px;
    height: 10px;
    background-color: #8ED5B3;
    border-radius: 5px;
    border: white solid 2px;
}
#barHpMew{
    width: 200px;
    height: 10px;
    background-color: #8ED5B3;
    border-radius: 5px;
    border: white solid 2px;
}





.pokemonUser{
    display: block;
}

.pokemonUser img{
    
    height: 30vh;
    border-radius: 50%;
    
}








@media (max-width:1024px) {
    .bt{
        background-color: white;
        height: 50px;
        width: 90px;
        cursor:pointer;
        
    }
    .pbottom{
        font-size: 1rem;
    }
}




@media (max-width:720px) {
    .pokemons{
        flex-direction: column;
        margin-top: 20vh;
    }
    .pokemons{
        flex-direction: column;
        margin-top: 50vh;
    }

    
    #pika{
        height: 250px;
        width: 80vw;
    }

    #bulba{
        height: 300px;
        width: 80vw;

    }

    #char{
        height: 250px;
        width: 55vw;

    }

    .interacao{
        width: 100%;
        flex-direction: column;
        height: 23vh;
        bottom: 0;
        left: 0vw;
        background-color: black;
    }
    .pbottom{
        font-size: 0.8rem;
    }

    .entradaNome input{
        width: 70vw;
    }
 
    
}



@media (max-width:400px) {
    .pokemons{
        flex-direction: column;
        margin-top: 50vh;
    }

    
    #pika{
        height: 250px;
        width: 80vw;
    }

    #bulba{
        height: 300px;
        width: 80vw;

    }

    #char{
        height: 250px;
        width: 55vw;

    }

 
    
    .pbottom{
        font-size: 15px;
    } 
   


    .mewtwo img{
        width:15vh;
    }

    .pokemonUser img{
    
        height: 15vh;
        
        
    }

   
    #barHpMew{
      /* width: 100px; */
    }
    #hpMew{
        font-size: 12px;
    }
    #barHpUser{
        /* width: 100px; */
    }
    #hpPokeUser{
        font-size:12px;
    }


    .bt{
        background-color: white;
        height: 30px;
        width: 90px;
        cursor:pointer;
        
    }

    .jogarNovamente{
       
        font-size:1rem;
        padding: 10px 20px;
        height: 77px;
        width: 150px;
    }

    


    .interacao{
        width: 100%;
        flex-direction: column;
        height: 30vh;
        bottom: 0;
        left: 0vw;
        background-color: black;
    }

    .pokemonUser img{
        margin-top: 5vh;
    }
   

    .entradaNome{
        display: flex;
        flex-direction: column;
    }


    .pokemonUser{
       
        margin-top: 20vh;
    }


    
    .barHP{
        width:100px;
    

    }

    .battle{
       height: 50vh;
       /* background-color: red; */
    }

}